* {	/*nastavení okrajů*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

/*odstranění podržení odkazů*/
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


img {
	height: 100%;
	width: 100%;
	/* object-fit: cover; */
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #303030;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;	/*animace tlačítka*/
	transition-property: background-color, color;	/*animace tlačítka*/
}
.button:hover {
	color: white;
	background-color: #303030;
}
.name h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: transparent;
	transition: .3s ease background-color;	/*animace tlačítka*/
}
#header .navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav ul {
	list-style: none;
	position: absolute;
	background-color: #303030;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header .nav ul.active {
	left: 0%;
}
#header .nav ul a {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav ul li:hover a {
	color: lightgray;
}
#header .toggler {
	height: 30px;
	width: 30px;
	display: inline-block;
	border: 15px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	margin-right: 20px;
}

/*------------------------------UVODNI OBLAST------------------------------------*/
#main {
	background-image: url(./img/background.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;	/*abychom mohli klikat na button Portfolia*/
}
#main::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black; /*zajištění overlaye*/
	opacity: 0.7;
	z-index: -1;	/*abychom mohli klikat na button Portfolia*/
}
#main .main {
	max-width: 1200px;	/*zachování šířky*/
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#main h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	color: white;
}

/* ------------------------------------Projekty----------------------------------- */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 0px;
}
#projects .project-title h1 {
	margin-bottom: 50px;
}
#projects .container-project {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .myproject {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .information {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: #303030;
	border: 1px solid #303030;
	color: white;
}
#projects .information h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .information p {
	color: white;
	font-size: 1.5rem;
}
#projects .photo {
	flex-basis: 50%;  /*zajištění zmenšení fotky vůči velikosti*/
	height: 400px;
	/* border: 3px solid #303030; */
	overflow: hidden;
	position: relative;
}

#projects .myproject:hover .photo img {
	transform: scale(1.1);
} 


/* ------------------------About section -----------------------------------*/
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
	font-size: 1.81rem;
	font-weight:500;
}
#about .col-right .button {
	color: black;
	margin-bottom: 69px;
	padding: 10px 20px;
	margin-top: 0px;
	font-size: 2rem;
}
#about .col-right .button:hover {
	color: white;
	padding: 10px 20px;
	font-size: 2rem;
}


/* -----------contact section---------------------------------- */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 25px 0 black;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 black;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: bold;
}

#contact .contact-info h2 a{
	color: black;
}

#contact .container{
	min-height: 200px;
	padding-top: 0px;
}

/* -------------------------------Footer-------------------------------------- */
#footer {
	background-color: #262626;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer img {
	width: 30px;
}

/* ---------media pro tablet-------------------- */
@media only screen and (min-width: 768px) {
	.button {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.title {
		font-size: 6rem;
	}

	/*------------ main oblast----------------- */
	#main h1 {
		font-size: 7rem;
	}
	
	/* Project */
	#projects .myproject {
		flex-direction: row;
	}
	#projects .myproject:nth-child(even) {
		flex-direction: row-reverse;	/*zajištění prohozené pořadí*/
	}
	#projects .myproject {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .container-project .information {
		height: 100%;
	}
	#projects .container-project .photo {
		height: 100%;
	}

	#projects .information p {
		color: white;
		font-size: 1.8rem;
	}

	/* --------------------About----------------- */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	
	/* -------------contact---------------  */
	#contact .contact {
		flex-direction: column;
		padding-top: 0px;
    	padding-right: 0px;
    	padding-bottom: 100px;
    	padding-left: 0px;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

	#contact .contact-info h2 {
		font-size: 2rem;
		line-height: 2rem;
		font-weight: bold;
	}
	

/* media pro PC Desktop */
@media only screen and (min-width: 1200px) {
	
	#header .toggler {
		display: none;
	}
	#header .nav ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav ul li {
		display: inline-block;
	}
	#header .nav ul li a {
		font-size: 1.8rem;
	}
	#header .nav ul a:after {
		display: none;
	}
	
}
